@using WebShop.Libs 
@{ 
    List<Category> categories = SupportClass.Category;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Master Duel Store - @ViewData["Title"]</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body class="bg-light">
    <header>
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Master Duel Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3 font-weight-bold">
            <div class="container">
                <div class="navbar-collapse collapse d-inline-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"  asp-route-id=""><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <div class="dropdown nav-item">
                            <li class="dropdown-toggle nav-link text-dark" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bars"></i> Danh mục sản phẩm
                            </li>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                @if (categories != null)
                                {
                                    foreach (var item in categories)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-id="@item.CategoryId">@item.CategoryName</a></li>
                                        if (!(item == categories[categories.Count -1]))
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted footer">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2021 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Create By Cao Hoàng Minh</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/bootstrap.min.css.map" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    @RenderSection("Scripts", required: false)
</body>
</html>
