@model IEnumerable<WebShop.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Quản lý danh mục sản phẩm</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="text-end">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CategoryId">Chỉnh sửa</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CategoryId">Chi tiết</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
