@model IEnumerable<WebShop.Models.GroupProductDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupProductDetailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupProductDetailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupProduct.GroupProductID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupProductDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupProductDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupProductDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
