@model IEnumerable<WebShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-xl-center">Quản lý sản phẩm </h1>

<div class="row">
    <div class="col-sm">
        <p>
            <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
        </p>
    </div>
    <div class="col-sm text-end">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <input type="text" name="SearchString" placeholder="Tìm kiếm" asp-route-searchString="" />
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table border">
    <thead class="bg-info text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                Tồn kho
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="../images/@Html.DisplayFor(modelItem => item.Image)" height="110px" width="80px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ProductID">Chỉnh sửa</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductID">Chi tiết</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
