@model WebShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Chi tiết sản phẩm</h1>

<div>
    <hr class="mb-3" />
    <div class="row pb-lg-0">
        <div class="col-sm">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Provider)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Provider.ProviderName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
            </dl>
        </div>
        <div class="col-sm">
            <div class="text-center font-weight-bold">@Html.DisplayNameFor(model => model.Image)</div>
            <div class="text-center">
                <img src="~/images/@Html.DisplayFor(model => model.Image)" width="40%" />
            </div>
        </div>
    </div>

    <hr class="mb-3" />

</div>
<div>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Index" class="no_underline"><i class="fas fa-arrow-left"></i> Xem sản phẩm khác</a>
        </div>
    </div>
</div>
